.profile__edit-button-icon {
  width: 10px;
  height: 10px;
  vertical-align: middle;
}

@media screen and (max-width: 320px) {
  .profile__edit-button-icon {
    width: 7.5px;
    height: 7.5px;
  }
}